<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.travel.mapper.MyUserMapper">

  <select id="getUserByNo" resultType="MyUser">
    SELECT * FROM user ORDER BY no DESC
  </select>
  
  <select id="getUserByUserNo" resultType="MyUser">
    SELECT * FROM user WHERE no = #{userNo}
  </select>

  <insert id="insertUser">
    INSERT INTO user (name, email, password, reg_date, grade)
    VALUES (#{name}, #{email}, #{passWord}, now(), #{grade})
  </insert>
  
  <update id="updateUser">
  	UPDATE user SET name= #{name}, email= #{email}, password= #{passWord} WHERE no= #{no}
  </update>
  
  <delete id="deleteUser">
  	DELETE FROM user WHERE no= #{userNo}
  </delete>

</mapper>

