<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.travel.mapper.PlanMapper">

  <select id="getPlanByUserNo" resultType="Plan">
    SELECT * FROM plan WHERE user_no = #{userNo}
  </select>

  <insert id="insertPlan">
    INSERT INTO plan (title, start_date, end_date, reg_date, user_no)
    VALUES (#{title}, #{startDate}, #{endDate}, now(), #{userNo})
  </insert>
  <insert id="insertPlanItem">
    INSERT INTO planItem (plan_date, place, lat, lng, memo, plan_sort, reg_date, plan_no)
    VALUES (#{planDate}, #{place}, #{lat}, #{lng}, #{memo}, #{planSort}, now(), #{planNo})
  </insert>
  
  <update id="updatePlan">
  	UPDATE plan SET title= #{title}, start_date= #{startDate}, end_date= #{endDate} WHERE no= #{planNo}
  </update>
  <update id="updatePlanItem">
  	UPDATE planItem SET plan_date= #{planDate}, place= #{place}, lat= #{lat}, lng= #{lng}, memo= #{memo}, plan_sort= #{planSort} WHERE no= #{no} AND plan_no= #{planNo}
  </update>
  
  <delete id="deletePlan">
  	DELETE FROM plan WHERE no= #{planNo}
  </delete>
  <delete id="deletePlanItem">
  	DELETE FROM planItem WHERE no= #{planItemNo}
  </delete>

</mapper>

